@import "./tokens.css";

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-weight: normal;
  letter-spacing: 0;
  text-align: left;
}

h3 {
  font-weight: bold;
  line-height: unset;
  font-size: unset;
}

hr {
  border: none;
  border-top: 0.25rem solid var(--color-text);
  margin: 3em 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Base Layout */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  font-size: var(--em-size);
  line-height: var(--line-height);
  background-color: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
}

.site {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-main {
  flex: 1;
  padding-top: calc(var(--em-size) * var(--line-height) + 1rem * 2);
}

.page-inner {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1.5rem;
}

/* Navbar */

header.site-header {
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
}

.nav-link {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: var(--color-text);
  padding: 1rem;
}

.nav-link.work {
  background-color: var(--color-primary1);
}

.nav-link.about {
  background-color: var(--color-primary2);
}

.nav-link[aria-current="page"] {
  background-color: var(--color-selected);
  color: var(--color-on-selected);
}

/* Work */

.work-title {
  margin-bottom: 0;
}

p.work-caption {
  margin-top: 0;
  margin-block-start: 0;
}
