:root {
  --color-bg: #ffffff;
  --color-text: #111111;
  --color-border: #dddddd;
  --color-primary1: #8fea5c;
  --color-primary2: #ff80a8;
  --color-selected: #111111;
  --color-on-selected: #f6f6f6;

  --font: sans-serif;
  --em-size: 21px;
  --line-height: 1.25;
  --gap: 0.5rem;
  --gutter: 2rem;
  --max-width: 48rem;
}

@media (max-width: 768px) {
  :root {
    --em-size: 18px;
  }
}
